{% extends "solara.html.j2" %}
{% block header %}
    {% if production %}
    <link rel="canonical" href="https://solara.dev{{path}}">
    {% endif %}
    {#
    <!-- not using this right now, leaving it here for reference -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    #}

    <link rel="stylesheet" href="/_solara/cdn/@docsearch/css@3/dist/style.css" />
    <script src="/_solara/cdn/@docsearch/js@3"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G985FTLWGQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G985FTLWGQ', {
        cookie_flags: 'secure;samesite=none'
    });
    </script>
    <!-- End Google Analytics -->

    <!-- MailChimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    {{ super() }}
{% endblock %}

{% block after_pre_rendered_html %}
    {{ super() }}
    <style id="algolia">
    .DocSearch-Button {
        background-color: rgb(255, 238, 197);
        color: #182026;
    }

    .DocSearch-Button:hover {
        background-color: rgb(255, 247, 227);
    }
    </style>

    <script>
        function solaraAlgoliaInit({appId, apiKey, indexName, debug}) {
            const otherClick = (event) => event.button === 1 || event.altKey || event.ctrlKey || event.metaKey || event.shiftKey
            docsearch({
                container: '#docsearch',
                appId: "9KW9L7O5EQ",
                apiKey: "ef7495102afff1e16d1b7cf6ec2ab2d0",
                indexName: "solara",
                debug: debug,
                hitComponent: ({ hit, children }) => {
                    // react without the React library
                    return {
                        type: 'a',
                        constructor: undefined,
                        __v: 1,
                        props: {
                            href: hit.url,
                            children,
                            onClick: (event) => {
                                if (otherClick(event)) { return }
                                event.preventDefault()
                                let url = hit.url;
                                if (url.startsWith('https://solara.dev')) {
                                    url = url.substring(18);
                                }
                                solara.router.push(url)
                            }
                        }
                    }
                },

                navigator: {
                    navigate({ itemUrl }) {
                        if (itemUrl.startsWith('https://solara.dev')) {
                            itemUrl = itemUrl.substring(18);
                        }
                        solara.router.push(itemUrl);
                    },
                },
            });
        }
        if(document.getElementById('docsearch')) {
            solaraAlgoliaInit({
                appId: "9KW9L7O5EQ",
                apiKey: "ef7495102afff1e16d1b7cf6ec2ab2d0",
                indexName: "solara",
                debug: false,
            });
        }
    </script>
{% endblock %}
```
