*.o
*.so
*.mkv
*.mk4
#/*.png
*.eps
*.pgm
*.pdf
*.fld
*.vtk
*.mp4
*/**/*.pyc
*.pyc
jenkins/jenkins.war
/nosetests.xml
/.idea
misc/experiments/
/.coverage
/coverage.xml


Untitled*.ipynb

/experiments/*
/htmlcov

InterestingSubspacesNew.txt
Makefile.in
config.guess
config.sub
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.libs
src/Makefile
src/Makefile.in
src/libsubfind.a
subspacefind*.tar.gz
src/subspacefind?la*
**/*.pyc
data/*
build/
doc
docs/build
meeting
#misc
/**/.DS_Store
/**/.ipynb_checkpoints
#app
dist
lib
python/.idea
test/.idea
venv
.venv
tmp
python/vaex/version.py # gets generated
**/*.egg-info/
.eggs/
bin/.idea
*.npy
__pycache__
.vscode

# output file from the docs
build/

./tmp
./examples
node_modules
packages/assets/cdn
packages/assets/dist/*

solara-env
states
