[build-system]
requires = ["hatchling >=0.25"]
build-backend = "hatchling.build"

[project]
name = "solara-assets"
authors = [{name = "Maarten A. Breddels", email = "maartenbreddels@gmail.com"}]
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: MIT License"]
dynamic = ["version", "description"]
dependencies = [
    "solara",
]

[project.urls]
Home = "https://www.github.com/widgetti/solara"

[tool.hatch.version]
path = "solara_assets/__init__.py"

# Used to call hatch_build.py
[tool.hatch.build.hooks.custom]

[tool.hatch.build.targets.wheel.shared-data]
"cdn" = "share/solara/cdn"

[tool.black]
line-length = 160

[tool.isort]
profile = "black"
