[bumpversion]
current_version = 5.2.0
commit = True
tag = True
tag_name = @widgetti/solara-vuetify3-app@{new_version}
tag_message = Bump version solara-vuetify3-app: {current_version} → {new_version}
message = Bump version solara-vuetify3-app: {current_version} → {new_version}

[bumpversion:file:package.json]

[bumpversion:file:../../solara/server/frontend_assets.py]
search = SOLARA_VUETIFY3_APP_VERSION = "{current_version}"
replace = SOLARA_VUETIFY3_APP_VERSION = "{new_version}"

[bumpversion:file:../../release.sh]

[bumpversion:file:../solara-assets/hatch_build.py]
search = ["@widgetti/solara-vuetify3-app", "{current_version}"]
replace = ["@widgetti/solara-vuetify3-app", "{new_version}"]
