name: Code quality

on:
  workflow_call:

jobs:
  code-quality:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, "3.9"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install ".[dev]" mypy==1.6.0 black==22.12.0 codespell==2.2.4 "click<8.1.4" "traitlets<5.10.0" "matplotlib<3.8.0"
          mypy --install-types --non-interactive solara
      - name: Run codespell
        run: codespell
      - name: Run black
        run: black solara
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: 'code-quality'
      - name: mypy
        run: mypy solara
