name: Test installation

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

env:
  SOLARA_TELEMETRY_SERVER_USER_ID: "install-test"
  SOLARA_TELEMETRY_MIXPANEL_TOKEN: adbf863d17cba80db608788e7fce9843

defaults:
  run:
    shell: bash {0}

jobs:
  call-workflow-build:
    uses: ./.github/workflows/build.yml
  install:
    needs: [call-workflow-build]
    runs-on: ${{ matrix.os }}-${{matrix.os == 'ubuntu' && '20.04' || 'latest' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python: ["3.6", "3.10"]
        exclude:
          - os: windows
            python: 3.6
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: solara-builds-${{ github.run_number }}
      - name: Debug
        run: ls -R dist
      - name: Install
        run: pip install dist/*.whl
      - name: Test import
        run: python -c "import solara"
      - name: Run solara create
        run: solara create button test.py
      - name: Run solara server
        run: solara run test.py&
      - name: Wait for Solara server to get online
        uses: ifaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:8765/
          timeout: 20000
      - name: Install
        run: pip install packages/solara-enterprise/dist/*.whl
      - name: Test import
        run: python -c "import solara_enterprise"
