name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    uses: ./.github/workflows/build.yml
  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: actions/download-artifact@v2
        with:
          name: solara-builds-${{ github.run_number }}
      - name: Install build tools
        run: pip install hatch
      - name: Install solara
        run: pip install dist/*.whl
      - name: Test import
        run: python -c "import solara; import solara.server.starlette"
      - name: Install solara-enterprise
        run: pip install packages/solara-enterprise/dist/*.whl
      - name: Test import solara-enterprise
        run: python -c "import solara_enterprise"
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Build assets
        run: (cd packages/assets; hatch build)
      - name: Publish solara-enterprise to PyPI
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.pypi_enterprise }}
        run: |
          cd packages/solara-enterprise
          openssl sha256 dist/*
          hatch publish
          openssl sha256 dist/*
      - name: Publish solara to PyPI
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.pypi_password }}
        run: |
          openssl sha256 dist/*
          hatch publish
          openssl sha256 dist/*
      - name: Publish solara-assets to PyPI
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.pypi_assets }}
        run: |
          (cd packages/assets; openssl sha256 dist/*; hatch publish; openssl sha256 dist/*)
      - name: remove assets
        run: rm -rf packages/assets/dist
