name: Release solara-vuetify3-app package

on:
  push:
    tags:
      - "@widgetti/solara-vuetify3-app@*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
          registry-url: "https://registry.npmjs.org"
      - name: Build the JS packages
        run: |
          cd packages
          cd solara-widget-manager
          npm install
          npm run build
          cd ..
          cd solara-widget-manager8
          npm install
          npm run build
          cd ..
          cd solara-vuetify3-app
          npm install
          npm run build
      - name: Publish the NPM package
        run: |
          cd packages/solara-vuetify3-app
          echo $PRE_RELEASE
          if [[ $PRE_RELEASE == "true" ]]; then export TAG="next"; else export TAG="latest"; fi
          npm publish --tag ${TAG} --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          PRE_RELEASE: ${{ github.event.release.prerelease }}
