name: Unit testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1,4'  # at 06:00 UTC on Monday and Thursday

env:
  SOLARA_TELEMETRY_SERVER_USER_ID: "install-test"
  SOLARA_TELEMETRY_MIXPANEL_TOKEN: adbf863d17cba80db608788e7fce9843

defaults:
  run:
    shell: bash {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}-${{matrix.os == 'ubuntu' && '20.04' || 'latest' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python: [3.6, 3.9]
        ipywidgets: ["7.7", "8.0"]
        exclude:
          - os: windows
            python: 3.6
          - os: ubuntu
            python: 3.6
            ipywidgets: "8.0"
          - os: macos
            python: 3.6
            ipywidgets: "8.0"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
      - name: Install
        run: |
          pip install ".[dev,extra]" diskcache redis
          (cd packages/solara-enterprise && pip install ".[ssg,auth]" "ipywidgets~=${{ matrix.ipywidgets }}")
      - name: Start Redis
        if: matrix.os != 'windows'
        uses: shogo82148/actions-setup-redis@v1
      - name: test
        run: pytest tests/unit --doctest-modules --timeout=60
