name: Unit testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python: [3.6, 3.9]
        exclude:
          - os: windows
            python: 3.6

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
      - name: Install
        run: pip install ".[dev]"
      - name: test
        run: pytest --cov=solara tests/unit --doctest-modules solara/util.py --timeout=60
